body {
    background-image: url('/image/background/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 1080px;
}

.components {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: solid 2px black;
    color: white;
    text-align: center;
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: center; 
}

#logo-mem {
    width: 30px;
    height: 30px;
}